:root {
    --text-color: #FFFFFF;
    --stroke-color: #ffffff80;
    --surface-color: #ffffff1a;
    --surface-color-hover: #ffffff0d;
    --highlight-color: #ffffff33;
    --toggle-handle-color: #FFFFFF;
    --bg-color: url(./src/bg-mobile.jpg);
    --icon-color: url(./src/MoonStars.svg);
}

.light {
    --text-color: #000000;
    --stroke-color: #00000080;
    --surface-color: #0000000d;
    --surface-color-hover: #00000005;
    --highlight-color: #0000001a;
    --toggle-handle-color: #FFFFFF;
    --bg-color: url(./src/bg-mobile-light.jpg);
    --icon-color: url(./src/Sun.svg);
}

/* medias queries*/
@media (min-width: 700px) {
    :root {
        --bg-color: url(./src/bg-desktop.jpg);
    }

    .light {
        --bg-color: url(./src/bg-desktop-light.jpg);
    }
}