body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color-dark-mode);
}

body {
    /* background: color image repeat position/size */
    background: url(/home/src/bg-mobile.jpg) no-repeat top center/cover;
}

a {
    text-decoration: none;
}

#container {
    width: 36rem;
    margin: auto;
    margin-top: 5.6rem;
}

#profile {
    text-align: center;
    margin: auto;
    padding: 2.4rem;
}

#profile img {
    width: 11.2rem;
}

#customLink {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: .8rem;
    display: block;
}

/* Links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    background: var(--surface-color-dark-mode);
    border: 0.1rem solid var(--stroke-color-dark-mode);
    border-radius: 0.8rem;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;

    transition: background .5s;
}

ul li a:hover {
    background: var(--surface-color-dark-mode-hover);
    border: 0.15rem solid var(--text-color-dark-mode);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/* Social Links */
#socialLinks {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    padding: 2.4rem 0;
}

#socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 50%;
    
    transition: background  .4s ;
}

#socialLinks a:hover {
    background-color: var(--highlight-color-dark-mode);
}