body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

body {
    /* background: color image repeat position/size */
    background: var(--bg-color) no-repeat top center/cover;
}

#container {
    width: 36rem;
    margin: auto;
    margin-top: 5.6rem;
    padding: 0 2.4rem;
}

/* Profile */
#profile {
    text-align: center;
    margin: auto;
    padding: 2.4rem;
}

#profile img {
    width: 11.2rem;
}

#customLink {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: .8rem;
    display: block;
    text-decoration: none;
}

/* Switch color mode */
#switch {
    position: relative;
    width: 6.4rem;
    margin: auto;
    margin: 0.4rem auto;
}

#switch button {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--toggle-handle-color);
    border: none;
    border-radius: 50%;
    background: white var(--icon-color) no-repeat center;


    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Light Mode switch*/
.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    border: 0.1rem solid var(--stroke-color);
    border-radius: 1000rem;
    background: var(--surface-color);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

/* Links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem 0;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    background: var(--surface-color);
    border: 0.1rem solid var(--stroke-color);
    border-radius: 0.8rem;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-decoration: none;

    transition: background .5s, border .5s , scale .5s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 0.15rem solid var(--text-color);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    scale: 115%;
}

/* Social Links */
#socialLinks {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    padding: 2.4rem 0;
    gap: 1rem;
}

#socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border: 0.15rem solid transparent;
    border-radius: 50%;
    
    transition: background .4s, border .4s ,scale .4s;
}

#socialLinks a:hover {
    background: var(--highlight-color);
    border: 0.15rem solid var(--text-color);
    scale: 115%;
}

/* Created by */
footer {
    padding: 2.4rem 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}